<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mezcal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Articulo de mezcal" />
	<meta name="author" content="cimarronez" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


        <style type="text/css">
            @media screen and (max-width: 768px){
                .fh5co-cover{
                    padding: 3em 0;
                    height: 120px;
                }
                }
        </style>
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<!--div class="col-xs-12 text-center logo-wrap"-->
						<!--div id="fh5co-logo"><a href="index.html">CIMARRONEZ<img src="images/red.png" alt="" width="15" height="15"></a></div-->
                                                							

					<div class="col-xs-12 text-center menu-1 menu-wrap">
					<br>
						<ul>
							<!--li class="active"><a href="index.html">Home</a></li-->
                                                        <li><a href="index.html"><img src="images/red.png" alt="" width="15" height="15"></a></li>
                                                        <li><a href="">C.A.C.A.O.</a></li>
							<!--li class="has-dropdown">
								<a href="gallery.html">KAKAW AL XOCOLATL</a>
								<ul class="dropdown">
									<li><a href="#">Events</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Coffees</a></li>
								</ul>
							</li-->
							<!--li><a href="reservation.html">KAKAW AL XOCOLATL</a></li-->
							<!--li><a href="about.html">CACAO Y SALUD</a></li-->
							<li><a href="about.html">NOSOTROS</a></li>
							<li><a href="article.html">MEZCAL</a></li>
							<li><a href="gallery.html">VIDEOS</a></li>
							<li><a href="contact.html">CONTÁCTANOS</a></li>
						</ul>
					</div>
                                    <!--/div-->

				</div>
				
			</div>
		<!-- </div> -->
	</nav>

	<header id="fh5co-header" class="fh5co-cover " role="banner" style="background: #3b1e07;" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t" style="height: 100px">
						<div class="display-tc animate-box" data-animate-effect="fadeIn" style="height: 100px">
                                                    
                                                    <!--img src="images/facepage.png" alt="">
                                                    <!--h1>Cooperativa Autónoma Cimarronez</h1-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	<div id="fh5co-contact" class="fh5co-section animate-box">
            <div class="container">
                    <div class="row animate-box">
                            <div class="col-md-8">
                                
                                <img src="images/mezcal.png" alt="" style="width:100%; height: 300px;" height="300"/>
                                <br>
                                <br>
                                <h1 style="color: white;">Mezcal.</h1>
                                <hr>    
                                <p>Admin Fecha</p>
                                <hr>                                
                                                                
                            </div>

                            <div class="col-md-2"></div>
                            <!--div class="col-md-2">
                                    <form action="#" id="form-wrap">
                                            <div class="row form-group">
                                                    <div class="col-md-12">
                                                            <label for="name">Nombre</label>
                                                            <input type="text" class="form-control" id="name">
                                                    </div>
                                            </div>
                                            <div class="row form-group">
                                                    <div class="col-md-12">
                                                            <label for="email">Correo</label>
                                                            <input type="text" class="form-control" id="email">
                                                    </div>
                                            </div>
                                            <div class="row form-group">
                                                    <div class="col-md-12">
                                                            <label for="message">Mensaje</label>
                                                            <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                                    </div>
                                            </div>
                                            <div class="row form-group">
                                                    <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-outline btn-lg" value="Enviar">
                                                    </div>
                                            </div>

                                    </form>
                            </div-->
                    </div>
                
                <div class="row">
                    
                    <div class="col-md-8">                                                                
                        <p>
                        La palabra mezcal se deriva de los vocablos náhuatl metl e ixcalli, que significan “agave cocido al horno”. El mezcal es una bebida que se obtiene por la destilación y rectificación de los mostos preparados directamente con los azúcares extraídos de las cabezas maduras de los agaves, mismas que son previamente cocidas y sometidas a fermentación alcohólica.
                        <br>
                        <br>
                        Las plantas utilizadas para elaborar mezcales se llaman agaves o magueyes y pertenecen a la familia botánica de las Agavaceas. Esta familia de plantas es endémica del continente Americano, incluye nueve géneros y casi 330 especies diferentes. El género Agave es el más representativo y diverso con 200 especies, de las cuales 150 se distribuyen en México, y 104 son endémicas al territorio nacional. Los agaves se distribuyen en todo el continente, de manera silvestre o cultivada. Se presentan y desarrollan mejor en ambientes áridos y semisecos aunque también, como ornamento, se adaptan a ambientes templados y húmedos. El nombre Agave proviene del griego y significa admirable. Este nombre fue elegido por Carl von Linneo, un naturalista sueco, para clasificar a la familia botánica de los magueyes en el año 1753.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <img src="images/mezcal2.jpg" alt="" style="width:100%; height: 150px; float: none; margin: 0 auto;"/>                        
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-md-8">                                                                
                    <hr>
                        <p>
                        El mezcal es un producto netamente indígena y campesino, asociado a fiestas, ritos y curaciones. El mexcalli es uno de los alimentos más importantes de los pueblos preagrícolas de Meso y Aridoamérica. En la cueva de Tehuacán se encontraron restos de maguey cocido y masticado fechados en 10,000 años de antigüedad; elaborado en hornos de piso, cociendo las cabezas y/o los quiotes durante varios días. Las evidencias arqueológicas encontraron hornos de piso desde la Península de Yucatán hasta Arizona.
                        <br><br>
                        El mexcalli es entonces alimento básico de los pueblos prehispánicos, tan importante o más que el maíz, en algunas regiones.
                        <br><br>
                        El mezcal es una bebida destilada auténticamente mexicana, ya que los agaves se distribuyen por todo el territorio. Para el proceso de elaboración de mezcales se utilizan 30 especies diferentes de agaves; por cada región y maguey empleados los mezcales tradicionales de México adoptan sus distintos nombres: Bacanora, Sotol, Minero, Arroqueño, Quitupeño, Zihuaquio, Comiteco, Tonaya, Tequila, Papalote, Tobalà, Raicilla, entre muchos otros.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <img src="images/mezcal.png" alt="" style="width:100%; height: 150px; float: none; margin: 0 auto;"/>
                    </div>
                </div>
                
                <div class="row">                    
                    <div class="col-md-8">                                                                
                    <hr>
                    <p>
                        El proceso de producción de mezcal tradicional se compone de cinco etapas:
                        <br>
                        <ul>
                            <li>Selección y corte del maguey maduro</li>
                            <li>Horneado o cocimiento de las piñas de maguey</li>
                            <li>Machacado o molienda de las piñas cocidas</li>
                            <li>Fermentación</li>
                            <li>Destilación</li>
                        </ul>
                    <br><br>
                    Las técnicas y los materiales son similares en todas las fábricas de mezcal, aunque existen sutiles diferencias que caracterizan a cada una según la tradición. Por ejemplo, la variedad de maguey empleado, la molienda, las herramientas, el tipo de horno y alambique.
                    <br><br>
                    Distintos maestros mezcaleros coinciden en sus propiedades terapéuticas. “El mezcal –dice uno de ellos, Don Moisés- lo han utilizado anteriormente como medicina. Cura la presión. Que si una señora acaba de recibir un susto y acaba de tener a su bebito, lo primero es darle su copa de mezcal. Lo toman como remedio. Ayuda a los nervios, tranquiliza demasiado. Para algún coraje que haga, lo primero es darle su copa de mezcal. Siempre ha sido curativo. Está garantizado. Es saludable de por sí.”
                    <br><br>
                    A pesar de ello, durante mucho tiempo el mezcal fue una bebida de “segunda” y supuestamente inferior a la cerveza o a los destilados de uva y caña de azúcar fabricados por grandes casas productoras y no sólo fue de “segunda” también fue prohibida su producción, en algunas regiones del estado de Guerrero hasta finales de la década de los 90´s del siglo anterior. Quizá esa percepción y esa prohibición se relacione con su origen indígena y campesino y el colonialismo que pesa sobre ellos, sin embargo en las comunidades productoras nunca a dejado de ser motivo de honor y orgullo, motivo de construcción de historias de resistencia cultural, de experiencia productiva artesanal de años, de conservación de los suelos, de solidaridad y cooperación.
                    
                    </p>
                    
                    </div>
                    <div class="col-md-4">
                        <br>
                        <img src="images/mezcal3.png" alt="" style="width:100%; height: 150px; float: none; margin: 0 auto;"/>
                    </div>
                </div>
                
                <div class="row">                    
                    <div class="col-md-8">                                                                
                    <hr>
                    <p>
                    En México, los diversos conocimientos y técnicas de aprovechamiento de los agaves representan, cada uno de ellos, parte esencial del patrimonio cultural de los pueblos. La identificación del valor patrimonial de los magueyes y mezcales de las diferentes regiones de México se sustentan en la historia, en la tradición misma de su aprovechamiento.                         <br>
                    <br><br>
                    La elaboración de fibras vegetales; la sabiduría de las aplicaciones medicinales del maguey, la creatividad en las recetas culinarias; los conocimientos y técnicas tradicionales para la producción de mezcales, además de la preservación y rescate de las poblaciones de maguey, entre otros, constituyen importantes manifestaciones del patrimonio cultural intangible del pueblo mexicano. Las diferentes maneras en que las comunidades rurales se refieren al maguey, los mitos y deidades relacionadas con los agaves y sus néctares, además de las actividades cotidianas relacionadas con los usos del maguey forman parte del universo simbólico que trasciende lo material para revelar la memoria, la herencia de las tradiciones y actividades artesanales de los pueblos de México.                    
                    </p>
                    
                    </div>
                    <div class="col-md-4">
                        <br>
                        <img src="images/mezcal3.png" alt="" style="width:100%; height: 150px; float: none; margin: 0 auto;"/>
                    </div>
                </div>
            </div>
	</div>

	<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>C.A.C.A.O.</h4>
					<p>COOPERATIVA AUTÓNOMA CIMARRONEZ ANTICAPITALISMO ORGANIZADO</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="">Inicio</a></li>
						<li><a href="about.html">Nosotros</a></li>
						<li><a href="contact.html">Contáctanos</a></li>
						<li><a href="gallery.html">Videos</a></li>
					</ul>
				</div>

				<!--div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Categories</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Landing Page</a></li>
						<li><a href="#">Real Estate</a></li>
						<li><a href="#">Personal</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">e-Commerce</a></li>
					</ul>
				</div-->

				<!--div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="http://https://freehtml5.co">freehtml5.co</a></li>
					</ul>
				</div-->

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<!--p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p-->
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

